body {
  writing-mode: vertical-rl;
  font-size: 1.2em;
  line-height: 1.7;
}

article {
  height: 25em;
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
}

h1 {
  font-size: 141%;
  font-weight: 700;
}

h2 {
  font-size: 115%;
  font-weight: 700;
}

p {
  margin-left: 0.75em;

}

.u-upright {
  text-combine-upright: all;
}
