html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0; }

header {
  position: fixed;
  height: 9em;
  width: 18em;
  top: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  color: #fff;
  background-color: rgba(30, 40, 49, 0.75); }
  header > * {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }

h1 {
  margin-bottom: 0.25em; }

img {
  max-width: 100%;
  width: 100%; }

.js-status {
  display: block;
  line-height: 1.5;
  margin-bottom: 0.25em; }

body {
  text-align: center; }

.grid {
  display: inline-block; }

.grid__item {
  width: 20em;
  display: inline-block;
  vertical-align: top;
  margin: 1em 0.5em;
  text-align: left; }

@supports ((display: -webkit-box) or (display: flex)) {
  .grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: -1em 0 1em -0.5em;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
  .grid__item {
    padding: 1em 0 0 0.5em;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 20em;
        -ms-flex: 1 0 20em;
            flex: 1 0 20em;
    max-width: 20em;
    width: auto;
    margin: initial; } }

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    grid-gap: 0.5em;
    margin: initial; }
  .grid__item {
    padding: initial;
    max-width: none; } }
