@import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gentium Book Basic', serif;
}

p {
  line-height: 1.4;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
  object-fit: contain;
  height: 100%;
}

button {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.5s;
}

button:hover {
  background-color: darkgrey;
}

h1 {
  display: none;
  margin: auto;
}

p {
  display: none;
}

p:last-child {
  margin-bottom: 0;
}

h1.jsActive,
.jsActive p {
  display: block;
}

.grid {
  padding: 10px;
  background-color: #ffff96;
}

.grid > div {
  background-color: #1b2b34;
  padding: 1em;
  color: #ffff96;
}

.nav {
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 440px) {
  .grid {
    display: grid;
    grid-template-columns: 6em calc(100% - 6.25em);
    grid-template-rows: 45vh 25vh max-content;
    grid-template-areas: 'title image'
                         'nav image'
                         'content content';
    gap: 0.25em;
    transition: all 1s;
  }
  
  .image { 
    grid-area: image;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    grid-area: title;
    writing-mode: vertical-rl;
    display: flex;
  }

  .content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav {
    grid-area: nav;
    flex-direction: column;
  }
}

@media screen and (min-width: 820px) {
  .grid {
    grid-template-columns: 55% calc(45% - 0.5em);
    grid-template-rows: 4em 1fr max-content;
    grid-template-areas: 'image title'
                         'image content'
                         'image nav';
    gap: 0.5em;
  }
  
  .title {
    writing-mode: horizontal-tb;
  }
  
  .nav {
    flex-direction: row;
  }
}
