body {
  background-color: black;
  color: white;
  text-align: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

.singlish-o-meter {
  width: 100%;
  margin: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .singlish-o-meter hr {
    border: 0;
    height: 0.4em;
    width: 100%;
    background-color: springgreen;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }

.singlish-o-meter::before {
  background-image: url("img/singlish.jpg");
  left: 0;
  z-index: 1; }

.singlish-o-meter::after {
  background-image: url("img/english.jpg");
  right: 0;
  background-position: right; }

.singlish-o-meter::before,
.singlish-o-meter::after {
  display: block;
  content: '';
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 60vmin;
  height: 40vmin; }

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  width: 100%;
  /* Specific width is required for Firefox. */
  background: transparent;
  /* Otherwise white in Chrome */
  position: relative;
  z-index: 1; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none; }

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */ }

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent; }

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  background-image: url("img/slider-thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 100px;
  cursor: pointer;
  margin-top: -100px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */ }

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background-image: url("img/slider-thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 100px;
  cursor: pointer; }

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background-image: url("img/slider-thumb.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 100px;
  cursor: pointer; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  cursor: pointer; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1em;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 1em;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }
