{% extends "base.njk" %}

{% block content %}
<h1>World Cup 2018</h1>

<h2>Today's matches</h2>
<div class="matches-wrapper">
  <div id="currentMatches" class="current-matches">
    <em>There are no matches today.</em>
  </div>
  <button type="button" id="refreshMatches">Refresh</button>
</div>

<hr>

<h2>Knock-out stage</h2>
<div id="knockOutStage" class="ko-stages">
  <div id="eighths" class="ko-stage jsKoStage">
    <h4>Round of 16</h4>
    {% for i in range(48, 56) -%}
    <div id="match{{ i }}" class="ko-match">
      <p class="ko-team">
        <span class="ko-flag jsKoHomeFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoHomeTeam">Home</span>
        <span class="ko-score jsKoHomeScore">-</span>
      </p>
      <p class="ko-team">
        <span class="ko-flag jsKoAwayFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoAwayTeam">Away</span>
        <span class="ko-score jsKoAwayScore">-</span>
      </p>
      <p class="ko-status"><small class="jsKoTime">Time</small></p>
    </div>
    {%- endfor %}
  </div>
  <div id="quarters" class="ko-stage jsKoStage">
    <h4>Quarter-finals</h4>
    {% for i in range(56, 60) -%}
    <div id="match{{ i }}" class="ko-match">
      <p class="ko-team">
        <span class="ko-flag jsKoHomeFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoHomeTeam">Home</span>
        <span class="ko-score jsKoHomeScore">-</span>
      </p>
      <p class="ko-team">
        <span class="ko-flag jsKoAwayFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoAwayTeam">Away</span>
        <span class="ko-score jsKoAwayScore">-</span>
      </p>
      <p class="ko-status"><small class="jsKoTime">Time</small></p>
    </div>
    {%- endfor %}
  </div>
  <div id="semis" class="ko-stage jsKoStage">
    <h4>Semi-finals</h4>
    {% for i in range(60, 62) -%}
    <div id="match{{ i }}" class="ko-match">
      <p class="ko-team">
        <span class="ko-flag jsKoHomeFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoHomeTeam">Home</span>
        <span class="ko-score jsKoHomeScore">-</span>
      </p>
      <p class="ko-team">
        <span class="ko-flag jsKoAwayFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoAwayTeam">Away</span>
        <span class="ko-score jsKoAwayScore">-</span>
      </p>
      <p class="ko-status"><small class="jsKoTime">Time</small></p>
    </div>
    {%- endfor %}
  </div>
  <div id="final" class="ko-stage jsKoStage">
    <h4>Final</h4>
    <div id="match63" class="ko-match">
      <p class="ko-team">
        <span class="ko-flag jsKoHomeFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoHomeTeam">Home</span>
        <span class="ko-score jsKoHomeScore">-</span>
      </p>
      <p class="ko-team">
        <span class="ko-flag jsKoAwayFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoAwayTeam">Away</span>
        <span class="ko-score jsKoAwayScore">-</span>
      </p>
      <p class="ko-status"><small class="jsKoTime">Time</small></p>
    </div>
    
    <h4>3rd-4th Placing</h4>
    <div id="match62" class="ko-match">
      <p class="ko-team">
        <span class="ko-flag jsKoHomeFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoHomeTeam">Home</span>
        <span class="ko-score jsKoHomeScore">-</span>
      </p>
      <p class="ko-team">
        <span class="ko-flag jsKoAwayFlag" role="img" tabindex="0" aria-label="Blank flag">&#x1F3F4;</span>
        <span class="ko-country jsKoAwayTeam">Away</span>
        <span class="ko-score jsKoAwayScore">-</span>
      </p>
      <p class="ko-status"><small class="jsKoTime">Time</small></p>
    </div>
  </div>
</div>

<hr>

<h2>Group Tables</h2>
<div class="group-tables">
  {% for i in range(0, 8) -%}
  <div id="group{{ i }}">
    <h3 class="jsGroupHeader">Group #</h3>
    <table id="table{{ i }}" class="group-table">
      <thead>
        <tr>
          <th>Country</th>
          <th>Games played</th>
          <th>Wins</th>
          <th>Losses</th>
          <th>Points</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  {%- endfor %}
</div>

<div id="error" class="has-error hide-top">There is an error.</div>

{% endblock %}
