html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  height: 100%;
  display: flex;
}

main {
  margin: auto;
  text-align: center;
}

canvas {
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}

.hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
